/*** 公共样式文件 ***/
@media screen and (width: 320px) {
  html {
    font-size: 12.8px;
  }
}
@media screen and (width: 360px) {
  html {
    font-size: 14.4px;
  }
}
@media screen and (width: 375px) {
  html {
    font-size: 15px;
  }
}
@media screen and (width: 414px) {
  html {
    font-size: 16.56px;
  }
}
.mui-content {
  background-color: #eee;
}
/* header */
.mui-bar-nav {
  background-color: #fff;
}
.mui-action-back {
  color: #333;
}
.back {
  font-size: 17px;
}
.app-enter-header-name .my-info {
  padding-left: 1rem;
}
.app-enter-header-name .app-choose {
  font-size: 0.93333333rem;
}
.app-jigou-message {
  height: auto;
}
.app-jigou-message textarea {
  margin: 0;
}
.app-jigou-message #app-camera img {
  width: 2rem;
  height: 2rem;
}
.app-jigou-message .app-images > img {
  width: 2rem;
}
