//引入公共样式文件
@import './common.less';

//.mui-content {
//
//  .app-enter-header {
//    margin-top: (20rem/30);
//    background-color: #fff;
//    padding-left: (32rem/30);
//  }
//  .app-enter-header-name {
//    height: (90rem/30);
//    line-height: (90rem/30);
//    border-bottom: solid 1px #ddd;
//    padding-right: (32rem/30);
//
//
//  }
//  p {
//    position: relative;
//    color: #333;
//    font-size: (32rem/30);
//    background: url("../img/rightArrow.png") no-repeat right;
//    background-size: auto (22rem/30);
//
//    .select {
//      position: absolute;
//      right: (50rem/30);
//
//    }
//  }
//
//
//}
//修改表单样式
.app-enter-header-name {
  .my-info {
    padding-left: (30rem/30);
  }

  .app-choose {
    font-size: (28rem/30);
  }
}

.app-jigou-message {
  height: auto;
  textarea {
    margin: 0;
  }

  #app-camera {
    img {
      width: (60rem/30);
      height: (60rem/30);
    }
  }

  .app-images {
    >img {
      width: (60rem/30);
    }
  }
}

.app-images {
  margin: 0 (24rem/30);
}

//叠加弹出框默认样式
.mui-poppicker-header {
  background-color: #d04424;
  height: (80rem/30);
  line-height: (80rem/30);
  padding: 0 6px;
  .mui-btn {
    border: 0;
    background-color: #d04424;
    font-size: (42rem/30);
    color: #fff;
  }
}

.mui-picker {
  background-color: #fff;
}

/*** 机构入驻 ***/
#app-detail-address {
  height: auto;
}
.app-jigou-jianjie {
  height: (100rem/30);
  line-height: (100rem/30);
}

#detail-address {
  margin-bottom: 0;
  //height: (150rem/30);
}

#app-camera {
  margin: 0;
}

.app-jigou-message {
  padding: (24rem/30);
}

.app-jigou-message textarea {
  padding: 0;
}
