/*** 公共样式文件 ***/
@media screen and (width: 320px) {
  html {
    font-size: 12.8px;
  }
}
@media screen and (width: 360px) {
  html {
    font-size: 14.4px;
  }
}
@media screen and (width: 375px) {
  html {
    font-size: 15px;
  }
}
@media screen and (width: 414px) {
  html {
    font-size: 16.56px;
  }
}
.mui-content {
  background-color: #eee;
}
/* header */
.mui-bar-nav {
  background-color: #fff;
}
.mui-action-back {
  color: #333;
}
.back {
  font-size: 17px;
}
.app-enter-header-name .my-info {
  padding-left: 1rem;
}
.app-enter-header-name .app-choose {
  font-size: 0.93333333rem;
}
.app-jigou-message {
  height: auto;
}
.app-jigou-message textarea {
  margin: 0;
}
.app-jigou-message #app-camera img {
  width: 2rem;
  height: 2rem;
}
.app-jigou-message .app-images > img {
  width: 2rem;
}
.app-images {
  margin: 0 0.8rem;
}
.mui-poppicker-header {
  background-color: #d04424;
  height: 2.66666667rem;
  line-height: 2.66666667rem;
  padding: 0 6px;
}
.mui-poppicker-header .mui-btn {
  border: 0;
  background-color: #d04424;
  font-size: 1.4rem;
  color: #fff;
}
.mui-picker {
  background-color: #fff;
}
/*** 机构入驻 ***/
#app-detail-address {
  height: auto;
}
.app-jigou-jianjie {
  height: 3.33333333rem;
  line-height: 3.33333333rem;
}
#detail-address {
  margin-bottom: 0;
}
#app-camera {
  margin: 0;
}
.app-jigou-message {
  padding: 0.8rem;
}
.app-jigou-message textarea {
  padding: 0;
}
