/*** 公共样式文件 ***/

// 适配的媒体查询
@media screen and (width: 320px) {
  html {
    font-size: 320px/25;
  }
}

@media screen and (width: 360px) {
  html {
    font-size: 360px/25;
  }
}

@media screen and (width: 375px) {
  html {
    font-size: 375px/25;
  }
}

@media screen and (width: 414px) {
  html {
    font-size: 414px/25;
  }
}

.mui-content {
  background-color: #eee;
}

/* header */
.mui-bar-nav {
  background-color: #fff;
}

 //返回
.mui-action-back {
  color: #333;
}

.back {
  font-size: 17px;
}

