@import "common";

//机构详情，专家介绍样式迭代
.app-jigou-message {
  height: auto;
  padding: (24rem/30);
}

.app-jigou-img {
  padding: 0;
  float: none;
  text-align: center;
  margin: (30rem/30) 0;
  img {
    width: (310rem/30);
    &:first-child {
      margin-right: (30rem/30);
    }
  }
}
#app-camera {
  margin: 0;
}

//立即咨询
.consult-now {
  a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
  }
}
