/*** 公共样式文件 ***/
@media screen and (width: 320px) {
  html {
    font-size: 12.8px;
  }
}
@media screen and (width: 360px) {
  html {
    font-size: 14.4px;
  }
}
@media screen and (width: 375px) {
  html {
    font-size: 15px;
  }
}
@media screen and (width: 414px) {
  html {
    font-size: 16.56px;
  }
}
html {
  background-color: #eee;
}
.mui-title {
  font-size: 1.2rem;
}
/* 入驻 */
.mui-bar .mui-btn-link {
  font-size: 1.06666667rem;
  color: #333;
}
.mui-content {
  background-color: #eee;
  margin-bottom: 1.66666667rem;
}
.hide {
  display: none;
}
/* header */
.mui-bar-nav {
  background-color: #fff;
}
.mui-action-back {
  color: #333;
}
.back {
  font-size: 1.06666667rem;
}
#close {
  line-height: 44px;
  font-size: 1.06666667rem;
  color: #333;
  margin-left: 10px;
}
.mui-title {
  width: 120px;
}
.mui-bar .mui-title {
  width: 120px;
  margin: 0 auto;
}
html {
  background-color: #fff;
}
.mui-content {
  background-color: #fff;
}
.mui-content #info {
  padding: 20px 10px;
}
.mui-content .app-menu {
  margin-top: 1rem;
}
.mui-content .app-menu .my-icon img {
  width: 4rem;
}
.mui-content .app-menu .mui-grid-view.mui-grid-9 .mui-table-view-cell {
  padding: 0;
  border: 0;
}
.mui-content .app-menu .mui-grid-view.mui-grid-9 {
  background-color: #fff;
  border: 0;
}
.mui-content .apply-enter {
  width: 11.66666667rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 0.26666667rem;
  margin: 4.66666667rem auto;
  background: #d04424 url("../img/apply-enter-icon.png") no-repeat 1.93333333rem 0.8rem;
  background-size: 1.3rem 1.5rem;
  padding-left: 4.16666667rem;
}
.mui-content .apply-enter a {
  display: block;
  color: #fff;
  font-size: 1.2rem;
  width: 11.66666667rem;
  height: 3rem;
  margin-left: -4.16666667rem;
  padding-left: 4.16666667rem;
}
.mui-content .mui-slider .mui-slider-group .mui-slider-item {
  height: 12rem;
}
