/*** 公共样式文件 ***/
@media screen and (width: 320px) {
  html {
    font-size: 12.8px;
  }
}
@media screen and (width: 360px) {
  html {
    font-size: 14.4px;
  }
}
@media screen and (width: 375px) {
  html {
    font-size: 15px;
  }
}
@media screen and (width: 414px) {
  html {
    font-size: 16.56px;
  }
}
html {
  background-color: #eee;
}
.mui-title {
  font-size: 1.2rem;
}
/* 入驻 */
.mui-bar .mui-btn-link {
  font-size: 1.06666667rem;
  color: #333;
}
.mui-content {
  background-color: #eee;
  margin-bottom: 1.66666667rem;
}
.hide {
  display: none;
}
/* header */
.mui-bar-nav {
  background-color: #fff;
}
.mui-action-back {
  color: #333;
}
.back {
  font-size: 1.06666667rem;
}
#close {
  line-height: 44px;
  font-size: 1.06666667rem;
  color: #333;
  margin-left: 10px;
}
.mui-title {
  width: 120px;
}
.mui-bar .mui-title {
  width: 120px;
  margin: 0 auto;
}
.mui-navigate-right:after {
  content: '查看详情';
  top: 38%;
  font-size: 0.86666667rem;
  color: #d04424;
}
.mui-table-view-chevron .mui-table-view-cell > a:not(.mui-btn) {
  margin-right: -10px;
}
/* header */
.mui-bar-nav {
  background-color: #fff;
}
#close {
  line-height: 44px;
  font-size: 1.06666667rem;
  color: #333;
  margin-left: 10px;
}
.mui-media-body {
  font-size: 1.06666667rem;
}
.mui-media-body p {
  font-size: 0.93333333rem;
}
.identity {
  font-size: 0.93333333rem;
  color: #999;
  padding-left: 4px;
}
.mui-table-view-chevron .mui-table-view-cell {
  padding-right: 0.76666667rem;
}
